.search-results {
    display: flex;
    z-index: 999;
    grid-column: 2/3;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    background-color: var(--background-color);
    border: 2px solid var(--light-border);
    border-top: none;
    border-radius: 4px;
    top: 0;
    min-height: 5em;
    max-height: 24em;
    overflow-y: auto;
}

.search-results-list-wrapper {
    width: 100%;
}

.results-list {
    width: 100%;
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0;
}

.subreddit-result {
    display: flex;
    border: 1.5px solid var(--light-border);
    height: 4em;
    align-items: center;
    overflow-wrap: anywhere;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-left: 1%;
    width: 100%;
}

.subreddit-result:hover {
    cursor: pointer;
    background-color: var(--color-on-hover);
}



.sub-info {
    display: flex;
    width: 100%;
    align-items: center;
}

.sub-info h4 {
    margin: 0 2%;
    font-size: 16px;
}

.result-sub-icon {
    height: 30px;
    width: 30px;
}

.short-description {
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 2%;
}

.nsfw-indicator {
    color: #FF0000;
    font-size: 0.7em;
    padding: 0.5% 1%;
    border: 2px solid #FF0000;
    border-radius: 15px;
}

#no-results-message {
    text-align: center;
    color: var(--default-color);
}

@media only screen and (max-width: 1024px){
   .search-results {
      grid-column: 1/4;
      width: 60%;
   }
}

@media only screen and (max-width: 768px){
    .search-results {
      grid-column: auto;
      width: 75%;
      left: 12.5%;
    }
}

@media only screen and (max-width: 425px){
    .subreddit-result {
        height: 6em;
    }
}