.loading-comment-text {
    text-align: center;
}

.comment-spinner {
    margin: 5% auto
}

.comments-container {
    display: flex;
    max-width: 85%;
    margin: -2% auto;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 36px;
    padding-left: 8px;
}

.comment-card {
    font-size: 16px;
    border-left: solid 1px var(--border-color);
    margin-bottom: 3%;
    padding: 1%;
    word-wrap: break-word;
   
}

.comment-card:hover {
    border-left: solid 3px var(--border-color);
}

.upvotes {
    font-size: 0.85rem;
}

#comment-arrow-icon {
    color: #ff4500;
    height: 0.75rem;
}

.comments-list {
    list-style-type: none;
    max-width: 95%;
}

.comment-author {
    font-size: 0.75rem;
    font-weight: 600;
}

.reply {
    padding-left: 2%;
    padding-top: 2%;
}




@media only screen and (max-width: 425px){
    .comments-list {
        padding-left: 2%;
    }

    .comments-container {
        display: block;
    }

    .loading-comment-text {
        font-size: 1rem;
    }

}
