.side-bar {
    position: sticky;
    left: 0;
    top: 6em;
}

.side-bar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.side-bar li {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
}

.side-bar li:hover {
    cursor: pointer;
    background-color: var(--color-on-hover);
}

#subreddit-icon {
    height: 25px;
    width: 25px;
    padding: 0 5%;
}

