.side-bar {
    position: sticky;
    left: 0;
    top: 6em;
}

.side-bar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.side-bar li {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
    overflow-wrap: anywhere;
}

.side-bar li:hover {
    cursor: pointer;
    background-color: var(--color-on-hover);
}

.subreddit-icon {
    height: 25px;
    width: 25px;
    padding: 0 5%;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
}

.top-list-button {
    background-color: #ff4500;
    color: #fff;
    width: 40%;
    min-width: 100px;
    border-radius: 12px;
    border: solid 1px var(--light-border);
    height: 40px;
    margin: 10% auto;
}

.top-list-button:active {
    background-color: #9d3814;
    border-color: #000;
}

.top-list-button span {
    font-size: 1rem;
}
