.post-wrapper {
    display: flex;
    max-width: 85%;
    margin: 4% auto;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 36px;
    padding-left: 8px;
}

.post-container {
    width: 90%;


}

.content a {
    color: var(--url-color);
}

.media-container {
    display: flex;
    justify-content: center;
}

.media-container .media {
    max-width: 100%;
    min-width: 50%;
    margin: 0 auto;
}

.text-container {
    text-align: justify;
    font-size: 16px;
}

.extra-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    padding-right: 2%;
    width: 10%;
}

.extra-container span {
    font-size: 15px;
}

.subreddit-name, .author {
    font-size: 0.75em;
    text-decoration: underline;
}


.post-info {
    max-width: 80%;
    overflow-wrap: break-word;
    margin-bottom: 1em;
}

.post-info h3 {
    margin: 0.5em 0;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    
}


#arrow-icon {
    height: 1.3em;
    width: 1.3em;
    margin-bottom: 0.5em;
    color: #ff4500;
}

.comment-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
   padding: 5px 0;

}



#comment-icon {
    margin-bottom: 0.5em;
}

.comment-icon-container:hover #comment-icon {
    color: #ff4500;
}

.comment-icon-link {
    width: 100%;
}

.redirect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    color: var(--default-color);
}

.redirect-container:hover {
    background-color: var(--color-on-hover);
}



#redirect-icon {
    margin-bottom: 0.5em;
}

.redirect-container:hover #redirect-icon {
    color: #ff4500;
}

.redirect-container:hover .reddit {
    color: #ff4500;
}


.subreddit-name {
    font-weight: bolder;
}

.author {
    color: var(--author-color);
}

.link-container {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    padding: 2.5%;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.link-thumbnail {
    height: 80px;
    padding-right: 5%;
}

.title-link-deactivated {
    cursor: default;
}

.comment-icon-link:hover {
    background-color: var(--color-on-hover);
}

.comment-icon-link-deactivated {
    cursor: default;
    width: 100%;
}

.comment-icon-link-deactivated:hover {
    background-color: var(--background-color);
}

.comment-icon-link-deactivated:hover #comment-icon {
    color: var(--default-color)
}