.error-page {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    height: 40%;
    margin: 4% auto;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 36px;
    padding-left: 8px;
}

#message {
    text-align: center;
}

.button-wrapper {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.error-button {
    background-color: #ff4500;
    color: #fff;
    width: 15%;
    min-width: 110px;
    border-radius: 12px;
    border: solid 1px var(--light-border);
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.error-button:active {
    background-color: #9d3814;
    border-color: #000;
}

.error-button span {
    font-size: 1rem;
}