:root {
  --color-on-hover: #eee;
  font-size: 18px;
}

html, body{
  min-height:100%;
}

body {
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
}


#root {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
}
